/*default*/
@import 'mixin';
@import 'fonts';
@import 'color';
@import 'varible';
@import 'turn';
/*page*/


html {
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    height: 100%;
}

body {
    @include rem(font-size, 1.6rem);
    font-family: 'Conv_UVNBaiSau_R';
    margin: 0rem;
    overflow: hidden;
}

a {
    &:hover,
    &:focus {
        text-decoration: none;
        outline: none;
    }
}

button {
    &:focus {
        outline: none !important;
    }
}
.invitaion_card {
    background: rgb(249, 203, 223) url("../images/bg_opc.png") no-repeat top right;
    background-size: contain;
    //border: solid 1px red;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    padding-bottom: 3rem;

    //position: absolute;
    //left: 20px;
    //top: -142px;
    //width: 824px;
    //height: 1320px;
    //z-index: 15;
}
img {
    display: block;
    max-width: 100%;
}

.invitaion_card::-webkit-scrollbar {
    width: 0.5em;
}

.invitaion_card::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.invitaion_card::-webkit-scrollbar-thumb {
    background-color: rgba(222,133,179, 0.9);
    outline: 1px solid slategrey;
}

.mobile {
    display: none;
}
@media (max-width: 767px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
}